image: maven:3.9.9-jdk-23

stages:
  - build
  - test
  - deploy


build:
  stage: build
  script:
    - cd ./demo
    - mvn clean install -DskipTests
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 day

test:
  stage: test
  script:
    - mvn test
  dependencies:
    - build